body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #dff7f5, #8fd3c5);
}

.container {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  width: 260px;
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(10px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile {
  text-align: center;
}

.avatar {
  width: 90px;
  border-radius: 50%;
}

.member {
  color: gray;
  font-size: 13px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 12px;
  color: #5a7a99;
  cursor: pointer;
}

.menu li.active {
  font-weight: bold;
}

.promo {
  background: #6ec7b5;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  color: white;
}
.promo-text h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.promo-text p {
  margin: 4px 0 0 0;
  font-size: 14px;
  opacity: 0.9;
}

.promo-img {
  background: rgba(255,255,255,0.2);
  padding: 8px;
  border-radius: 12px;
  transform: rotate(-12deg);
}

.promo-img img {
  width: 50px;
}

/* MAIN */

.main {
  flex: 1;
  padding: 30px;
}

h2 {
  color: #5a7a99;
}

.card {
  background: rgba(255,255,255,0.7);
  margin: 15px 0;
  border-radius: 16px;
  padding: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card img {
  width: 70px;
  border-radius: 12px;
  margin-right: 15px;
}

.info {
  flex: 1;
}

.percent {
  font-weight: bold;
  color: #5a7a99;
}

.progress {
  background: #e5f5f1;
  border-radius: 10px;
  height: 8px;
  margin-top: 5px;
}

.bar {
  background: #5fd1b5;
  height: 100%;
  width: 0;
  border-radius: 10px;
  transition: 1s;
}
