* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  background: rgba(0,0,0,0.6);
  color: white;
  z-index: 100;
}

.logo { font-size: 22px; font-weight:bold }

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li { margin-left: 20px;font-size: 20px; }

.nav-links a {
  color: white;
  text-decoration: none;
}
.nav-links a:hover {
  color: orange;
}

/* ACTIVE LINK */
.nav-links a.active {
  color: orange;
  border-bottom: 2px solid orange;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}


/* HERO SECTION WITH YOUR IMAGES */
.hero {
  height: 100vh;

  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    
    url('https://koa.com/blog/images/family-camping-at-sunset.jpg?preset=heroimagecropped'),url('http://media.timeout.com/images/105658195/image.jpg');

  background-size: cover;
  background-position: center;
  background-position:fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 55px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: white;
  color: black;
  border-radius: 30px; 
  text-decoration: none;
  border-radiu
}


/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.gray {
  background: #f2f2f2;
}

.about {
  padding: 80px 70px;
  text-align: start;
}

/* SERVICES SECTION */
.services {
  background: #f2f2f2;
  padding: 80px 40px;
  text-align: center;
}

.services h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.sub {
  margin-bottom: 40px;
}


/* CARDS CONTAINER */
.service-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}


/* SINGLE CARD */
.service-card {
  background: white;
  width: 350px;
  padding: 30px 20px;
  border-radius: 10px;

  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  text-align: center;
}


/* CIRCLE IMAGE */
.service-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}


.service-card h3 {
  margin-bottom: 10px;
}

/* CONTACT SECTION */
.contact {
  padding: 80px 40px;
  background: #f2f2f2;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.sub {
  margin-bottom: 40px;
}


/* CONTAINER */
.contact-container {
  display: flex;
  justify-content: center;
  gap: 200px;
  max-width: 1000px;
  margin: auto;
}


/* LEFT INFO */
.contact-info {
  text-align: left;
  line-height: 2;
}


/* RIGHT FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  height: 120px;
}




/* MOBILE */
@media(max-width: 768px) {

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: black;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .service-container {
    flex-direction: column;
    align-items: center;
  }
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-info {
    text-align: center;
  }

  .contact-form {
    width: 100%;
  }
}

